---
import { Font } from "@/design-system/font/font.component";

interface Props {
  id?: string;
  header: string;
}

const { header, ...rest } = Astro.props;
---

<section class="flex flex-col gap-6" {...rest}>
  <Font.H2 color="text-base-content">{header}</Font.H2>
  <slot />
</section>
