---
import DocsLayout from "@/layouts/DocsLayout.astro";
import Section from "@/components/section/section.astro";
import { Font } from "@/design-system/font/font.component";
import { WEB_API_URL_PREFIX } from "@/paths/api.paths";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang); // eslint-disable-line react-hooks/rules-of-hooks
---

<DocsLayout title={t("header.docs")}>
  <div class="flex w-[300px] flex-col sm:w-[500px] lg:w-[750px]">
    <Section id="card-model" header={t("docs.card_model")}>
      <table class="table-sm sm:table-md lg:table-lg table">
        <thead>
          <tr>
            <th>
              <Font.P2 color="text-base-content">Attribute</Font.P2>
            </th>
            <th class="text-center">
              <Font.P2 color="text-base-content">Type</Font.P2>
            </th>
            <th>
              <Font.P2 color="text-base-content">Description</Font.P2>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <Font.P1 color="text-base-content">title</Font.P1>
            </td>
            <td class="text-center">
              <Font.P1 color="text-base-content">string</Font.P1>
            </td>
            <td>
              <Font.P1 color="text-base-content">Word to explain</Font.P1>
            </td>
          </tr>
          <tr>
            <td>
              <Font.P1 color="text-base-content">forbiddenWords</Font.P1>
            </td>
            <td class="text-center">
              <Font.P1 color="text-base-content">string[]</Font.P1>
            </td>
            <td>
              <Font.P1 color="text-base-content">Five words that can&#39;t be used to explain the title</Font.P1>
            </td>
          </tr>
          <tr>
            <td>
              <Font.P1 color="text-base-content">difficulty</Font.P1>
            </td>
            <td class="text-center">
              <Font.P1 color="text-base-content">string</Font.P1>
            </td>
            <td>
              <Font.P1 color="text-base-content">&quot;easy&quot;, &quot;medium&quot;, or &quot;hard&quot;</Font.P1>
            </td>
          </tr>
        </tbody>
      </table>
    </Section>
    <div class="divider"></div>
    <Section id="endpoints" header={t("docs.endpoints")}>
      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-6">
          <Font.P1 color="text-base-content">
            There are currently two endpoints. The first endpoint returns all of the cards stored in the database. The
            response is the array of card objects.
          </Font.P1>
          <div class="mockup-code">
            <pre><code>/api/cards</code></pre>
          </div>
          <Font.P1 color="text-base-content">
            The second endpoint randomly chooses one card and returns it. The response is a single card object:
          </Font.P1>
          <div class="mockup-code">
            <pre><code>/api/cards/random</code></pre>
          </div>
        </div>
        <div class="flex flex-col gap-6">
          <Font.H3 color="text-base-content">Query parameters</Font.H3>
          <Font.P1 color="text-base-content">
            In both of the above endpoints, you can attach the following language and difficulty query parameters.
          </Font.P1>
          <div class="flex flex-col gap-4">
            <Font.H4 color="text-base-content">
              <code>language</code> query parameter
            </Font.H4>
            <Font.P1 color="text-base-content">
              Attach the <code>language</code> query parameter to get cards only in the provided language (either{" "}
              <code>en</code> or <code>pl</code>):
            </Font.P1>
            <div class="mockup-code">
              <pre><code>/api/cards?language=en</code></pre>
              <pre><code>/api/cards?language=pl</code></pre>
            </div>
            <Font.P1 color="text-base-content">
              Not providing the <code>language</code> query parameter is equal to providing <code>language=en</code>, so
              the following endpoints are equal:
            </Font.P1>
            <div class="mockup-code">
              <pre><code>/api/cards</code></pre>
              <pre><code>/api/cards?language=en</code></pre>
            </div>
            <Font.P1 color="text-base-content">
              In both of the above cases, array of cards in English will be returned.
            </Font.P1>
          </div>
          <div class="flex flex-col gap-4">
            <Font.H4 color="text-base-content">
              <code>difficulty</code> query parameter
            </Font.H4>
            <Font.P1 color="text-base-content">
              Attach the <code>difficulty</code> query parameter to get cards only with the provided difficulty (<code
                >easy</code
              >, <code>medium</code>, or <code>hard</code>):
            </Font.P1>
            <div class="mockup-code">
              <pre><code>/api/cards?difficulty=easy</code></pre>
              <pre><code>/api/cards?difficulty=medium</code></pre>
              <pre><code>/api/cards?difficulty=hard</code></pre>
            </div>
            <Font.P1 color="text-base-content">
              When the <code>difficulty</code> query parameter is not provided, the response will be:
            </Font.P1>
            <dl>
              <dt>
                <code>/api/cards</code>
              </dt>
              <dd class="pl-4">
                <Font.P1 color="text-base-content">All cards with mixed difficulties.</Font.P1>
              </dd>
              <dt>
                <code>/api/cards/random</code>
              </dt>
              <dd class="pl-4">
                <Font.P1 color="text-base-content">One card with any difficulty.</Font.P1>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </Section>
    <div class="divider"></div>
    <Section id="base-url" header={t("docs.base_url")}>
      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-6">
          <Font.P1 color="text-base-content">The base URL is the prefix for the API:</Font.P1>
          <div class="mockup-code">
            <pre><code>{WEB_API_URL_PREFIX}</code></pre>
          </div>
          <Font.P1 color="text-base-content">
            This prefix is skipped in the whole documentation. It should always be prepended when communicating with the
            API.
          </Font.P1>
        </div>
      </div>
    </Section>
    <div class="divider"></div>
    <Section id="rate-limit" header={t("docs.rate_limit")}>
      <Font.P1 color="text-base-content">
        There is a 10000 requests per day API limit to prevent any malicious action. If you were to make more requests
        than this, you will get an error response with 429 status response (Too Many Requests).
      </Font.P1>
    </Section>
  </div>
</DocsLayout>
