---
import { Icon } from "@/components/icon/icon.component";
import Ribbon from "@/components/ribbon/ribbon.astro";
import { Font } from "@/design-system/font/font.component";
import GameLayout from "@/layouts/GameLayout.astro";
---

<GameLayout>
  <span class="text-center">
    <Font.H1 color="text-base-content">Want to relax? This mode guarantees no disagreements</Font.H1>
  </span>
  <a href="#" class="hero bg-base-200 transition-colors duration-200 hover:bg-base-300 mt-5">
    <div class="hero-content flex-col lg:flex-row">
      <Icon type="card" color="hsl(var(--s))" className="w-40 lg:basis-80" />
      <div>
        <h1 class="text-5xl font-bold">Just cards</h1>
        <p class="py-6">No scores, no time, no pressure. Just sit back, relax, and enjoy the cards one by one.</p>
      </div>
    </div>
  </a>
  <div class="divider"></div>
  <span class="text-center">
    <Font.H1 color="text-base-content">Feeling competitive? Try out these 2 modes</Font.H1>
  </span>
  <div class="flex flex-col sm:flex-row min-w-full transition-colors duration-200 gap-10 mt-5">
    <a href="#" class="relative hero bg-base-200 overflow-hidden cursor-default">
      <Ribbon label="Coming soon" placement="left" />
      <div class="hero-content flex-col lg:flex-row">
        <Icon type="team" color="hsl(var(--s))" className="w-40 lg:basis-80" />
        <Icon type="team" color="hsl(var(--s))" className="w-40 lg:basis-80" />
        <div>
          <h1 class="text-5xl font-bold">Teams</h1>
          <p class="py-6">
            Split into two teams with 2-6 players each. Every round, one person from the team tries to describe entries
            to the rest of the team.
          </p>
        </div>
      </div>
    </a>
    <a href="#" class="relative hero bg-base-200 overflow-hidden transition-colors duration-200 cursor-default">
      <Ribbon label="Coming soon" placement="right" />
      <div class="hero-content flex-col lg:flex-row">
        <Icon type="team" color="hsl(var(--s))" className="w-40 lg:basis-80" />
        <Icon type="single" color="hsl(var(--s))" className="w-40 lg:basis-80" />
        <div>
          <h1 class="text-5xl font-bold">One vs all</h1>
          <p class="py-6">Every man for himself! Each player has a separate score and everyone is allowed to guess.</p>
        </div>
      </div>
    </a>
  </div>
</GameLayout>
