---
import { Header } from "#src/components/header/header.component";
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html lang="en">
  <Header />
  <body><h1 class="bg-purple-100">Hello, World!</h1></body>
</html>
