---
import Header from "@/components/header/header.astro";
import Footer from "@/components/footer/footer.astro";
import { Breadcrumbs } from "@/components/breadcrumbs/breadcrumbs.component";
import { ScrollToTopButton } from "@/components/scroll-to-top-button/scroll-to-top-button.component";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { ViewTransitions } from "astro:transitions";
import type { ComponentProps } from "react";

interface Props {
  title?: string;
  breadcrumbs?: ComponentProps<typeof Breadcrumbs>["breadcrumbs"];
}

const { title, breadcrumbs } = Astro.props;

function formatTitle(title: string) {
  return title ? `${title} | ${t("title.docs")}` : t("title.docs");
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang); // eslint-disable-line react-hooks/rules-of-hooks
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={t("description.docs")} />
    <ViewTransitions />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title set:html={formatTitle(title)} />
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
      })();

      document.documentElement.setAttribute("data-theme", theme);
      window.localStorage.setItem("theme", theme);
    </script>
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <Header transition:persist />
      <Breadcrumbs breadcrumbs={[{ label: t("breadcrumbs.home"), href: `/${lang}` }, ...(breadcrumbs ?? [])]} />
      <div class="flex flex-1 p-4 sm:p-10 lg:p-20 flex-col w-full items-center justify-center">
        <slot />
      </div>
      <ScrollToTopButton client:idle />
      <Footer transition:persist />
    </div>
  </body>
</html>
