---
import Header from "@/components/header/header.astro";
import Footer from "@/components/footer/footer.astro";
import { ScrollToTopButton } from "@/components/scroll-to-top-button/scroll-to-top-button.component";
import { getLangFromUrl } from "@/i18n/utils";
import { ViewTransitions } from "astro:transitions";

const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Taboo game - explore 2000 cards in 3 game modes!" />
    <ViewTransitions />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Taboo game</title>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "pastel";
      })();

      document.documentElement.setAttribute("data-theme", theme);
      window.localStorage.setItem("theme", theme);
    </script>
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <Header transition:persist />
      <div class="flex flex-1 p-4 sm:p-10 lg:p-20 flex-col w-full items-center justify-center">
        <slot />
      </div>
      <ScrollToTopButton client:idle />
      <Footer transition:persist />
    </div>
  </body>
</html>
