---
import { Header } from "@/components/header/header.component";
import { ScrollToTopButton } from "@/components/scroll-to-top-button/scroll-to-top-button.component";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Taboo cards API</title>
  </head>
  <body><Header client:load /><slot /><ScrollToTopButton client:load /></body>
  <script is:inline>
    const theme = (() => {
      if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "pastel";
    })();

    document.documentElement.setAttribute("data-theme", theme);
    window.localStorage.setItem("theme", theme);
  </script>
</html>
