---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Icon } from "@/components/icon/icon.component";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang); // eslint-disable-line react-hooks/rules-of-hooks
---

<footer class="footer bg-base-300 items-center py-4 px-10 text-base-content">
  <div class="items-center grid-flow-col">
    <Icon type="card" color="hsl(var(--s))" className="w-9 h-9 rotate-12" />
    <p>
      {t("footer.created_by")}{" "}
      <a class="link link-secondary" href="https://github.com/Qqkyu">Michał Kuliński</a>
    </p>
  </div>
  <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a
      href="https://github.com/Qqkyu/taboo-cards-api"
      aria-label={t("footer.github_repository")}
      target="_blank"
      class="normal-case text-base-content hover:text-secondary transition-colors duration-200"
    >
      <Icon type="github" color="currentColor" className="w-6" />
    </a>
    <a
      href="https://twitter.com/baobab_____"
      aria-label={t("footer.twitter")}
      target="_blank"
      class="normal-case text-base-content hover:text-secondary transition-colors duration-200"
    >
      <Icon type="twitter" color="currentColor" className="w-6" />
    </a>
  </div>
</footer>
