---
import CardsCarousel from "@/components/cards-carousel/cards-carousel.astro";
import { Icon } from "@/components/icon/icon.component";
import { Font } from "@/design-system/font/font.component";
import Layout from "@/layouts/layout.astro";
import { getCards } from "@/lib/api";

const cards = await getCards({ lang: "pl" });
---

<Layout>
  <div class="gap-5 sm:gap-10 lg:gap-20 flex flex-col items-center">
    <section class="text-center flex flex-col items-center gap-2.5 sm:gap-5 lg:gap-10">
      <Font.H1 color="text-base-content">Pierwsze darmowe API do kart taboo</Font.H1>
      <div class="indicator">
        <span class="indicator-item indicator-center badge badge-secondary">Wkrótce</span>
        <a href="/en/play" class="btn btn-primary btn-disabled btn-lg">Graj</a>
      </div>
    </section>
    <CardsCarousel cards={cards} />
    <div class="stats stats-vertical xl:stats-horizontal shadow">
      <div class="stat gap-x-2 px-2 sm:gap-x-2 sm:px-6">
        <div class="stat-figure text-primary">
          <Icon type="language" color="hsl(var(--p))" className="inline-block w-6 sm:w-8" />
        </div>
        <div class="stat-title text-sm sm:text-base">Języki</div>
        <div class="stat-value text-primary text-xl sm:text-4xl">Angielski i Polski</div>
        <div class="stat-desc">Każda karta ręcznie tłumaczona i sprawdzana</div>
      </div>

      <div class="stat gap-x-2 px-2 sm:gap-x-2 sm:px-6">
        <div class="stat-figure text-secondary">
          <Icon type="stairs" color="hsl(var(--s))" className="inline-block w-6 sm:w-8" />
        </div>
        <div class="stat-title text-sm sm:text-base">Poziomy trudności</div>
        <div class="stat-value text-secondary text-xl sm:text-4xl">Łatwy, średni lub trudny</div>
        <div class="stat-desc">Opcje na każdy stan</div>
      </div>

      <div class="stat gap-x-2 px-2 sm:gap-x-2 sm:px-6">
        <div class="stat-figure text-secondary">
          <Icon type="card" color="hsl(var(--p))" className="w-12 sm:w-16" />
        </div>
        <div class="stat-value text-xl sm:text-4xl">{cards.length}</div>
        <div class="stat-title text-sm sm:text-base">Kart</div>
        <div class="stat-desc text-secondary">I kolejne w drodze!</div>
      </div>
    </div>
  </div>
</Layout>
