---
import { CardsCarousel } from "@/components/cards-carousel/cards-carousel.component";
import { CardModel } from "@/components/card-model/card-model.component";
import { Section } from "@/components/section/section.component";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <div class="flex p-20 flex-col items-center gap-20 justify-center">
    <CardsCarousel /><div class="divider"></div><Section id="card-model" header="Card model"><CardModel /></Section>
  </div>
</Layout>
