---
import { Cards } from "@/components/cards/cards.component";
import { Docs } from "@/components/docs/docs.component";
import { Playground } from "@/components/playground/playground.component";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <div class="flex p-20 flex-col items-center gap-20 justify-center">
    <Cards />
    <div class="divider"></div>
    <Docs />
    <div class="divider"></div>
    <Playground client:only />
  </div>
</Layout>
