---
import { Cards } from "@/components/cards/cards.component";
import { Stats } from "@/components/stats/stats.component";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <div class="gap-5 sm:gap-10 lg:gap-20 flex flex-col items-center">
    <section>
      <h1 class="prose prose-xl sm:prose-2xl font-bold text-base-content">First ever free taboo cards API</h1>
    </section>
    <Cards />
    <Stats />
  </div>
</Layout>
