---
import { Cards } from "@/components/cards/cards.component";
import { Docs } from "@/components/docs/docs.component";
import { Playground } from "@/components/playground/playground.component";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <div class="flex p-2 sm:p-10 lg:p-20 flex-col w-full items-center gap-5 sm:gap-10 lg:gap-20 justify-center">
    <Cards />
    <div class="divider"></div>
    <Docs />
    <div class="divider"></div>
    <Playground client:only="react" />
  </div>
</Layout>
